#og_head{
    display: none;
}

h2.wd-error-string{
    font-family: "Lucida Grande";
    font-weight: normal;
    text-align: center;
    margin: 0;
}

h2.wd-error-string:before{
    content: "\2639";
    display: block;
    font-size: 2em;
}